<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 flex-column text-center">
      <h3>Contact</h3>
      <br>
      <h5>送信完了</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="text-center">お問い合わせありがとうございます。<br>
      2~3日以内に連絡いたしますので、恐れ入りますがしばらくお待ちください。</p>
    </div>
  </div>
  </div>
</div>