<div class="container">
  <div class="row col-12 justify-content-center">
    <div class="text-center">

      <h3>栄養学クイズアプリ プライバシーポリシー</h3>
      
      <p>■個人情報の収集<br>
      本アプリは、広告配信のためにGoogle 広告、Google AdMob、利用状況解析のためにGoogle Firebase Analyticsを使用しています。<br>
      
      ■広告について<br>
      本アプリでは、広告配信を目的として以下の広告配信事業者がご利用者の情報を自動取得する場合がございます。取得する情報、利用目的、第三者への提供等につきましては、以下の広告配信事業者のアプリケーション・プライバシーポリシーのリンクよりご確認ください。
      </p>
      
      <p>AdMob（Google Inc.）</p>
      <% link_to 'http://www.google.com/intl/ja/policies/technologies/ads/' %>
      
      <p>Google 広告に関するポリシー</p>
      <% link_to 'https://policies.google.com/technologies/ads?hl=ja' %>
      

  </div>
</div>