<div class="container">
  <div class="row col-12 justify-content-center">
    <div class="text-center">

      <h3 class="my-3">栄養学クイズアプリ</h3>

      <p>管理栄養士監修！クイズを解きながら栄養学について楽しく学べるアプリです。</p>
        <br>
        こんな方におすすめ！</p>

      <ul style="list-style: none;", class="p-3 mb-2 bg-white rounded-pill">
        <li>「最近健康について意識し始めた」</li>
        <li>「普段から食事に気をつけているけれど、食べ物や体の仕組みについてもっと詳しく学びたい！」</li>
        <li>「将来管理栄養士になるために勉強中。息抜きに楽しく学べるスマホアプリが欲しい」</li>
        <li>「一度栄養学を学んだことがあるけれど、使わないうちに知識を忘れてしまいそうで不安」</li>
      </ul>
      <br>
      <p>SNSを見たり、ゲームをするような手軽さで、新しい暇つぶしのひとつとしてご利用いただけると嬉しいです。
      クイズや解説は随時更新していく予定です。</p>


      <%= link_to 'プライバシーポリシー', quizzes_privacy_path, class: "border-bottom border-white" %>

  </div>
</div>