@use '~bootstrap/scss/bootstrap';

body {
  background-color: #FFEBEC;
  font-family: 'Hina Mincho', serif;
  color: #5D535E;
  letter-spacing: 0.04em;
  line-height: 1.8;
}

// bootstrapのカスタマイズ（ここから）
a,a:link, a:hover, a:active{
  color: #5D535E;
}
a:visited{

}
.btn{
  border-radius: 0;
  border-color: #877b80;
  background-color: #877b80;
  opacity: 0.8;
  color: white;
}
.btn:hover{
  background-color: #877b80;
  color: white;
  opacity: 1;
}
.icon .btn{
  border-radius: 40%;
  border-color: #d6d0d0;
  background-color: white;
  color: #877b80;
}
// （ここまで：bootstrapのカスタマイズ）


h3,h2,.font-hina{
  font-family: 'Hina Mincho', serif;
  color: #5D535E;
  letter-spacing: 0.1em;
}

p{
  font-family: 'Zen Old Mincho', serif;
  color: #685D69;
}

// 汎用ピンク
.text-pink{
  color: #FFEBEC;
}

// Topページの見出しリボン（ここから）
.ribbon1 {
  line-height: 30px;
  position: relative;
  height: 30px;
  margin-top: 2em;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  background: #685D69;
  font-size: 1.2rem;
}
.ribbon1:before,
.ribbon1:after {
  position: absolute;
  top: 0;
  display: block;
  height: 30px;
  content: '';
  border: 15px solid #685D69;
}
.ribbon1:before {
  left: -20px;
  border-left-width: 15px;
  border-left-color: transparent;
}
.ribbon1:after {
  right: -20px;
  border-right-width: 15px;
  border-right-color: transparent;
}
.ribbon1 span {
  position: relative;
  display: block;
}
// Topページの見出しリボン（ここまで）

/*LINEスタンプの囲み円*/
.stamp-box {
padding:2em;/*内側余白*/
width: 300px;
height: 300px;
border-radius: 50%;
background-color: #fffbfb;
text-align: center;
}

// imageクラスをhover時に大きく（lineスタンプ画像）
.image:hover{
  transform:scale(1.1,1.1);
}

// 文字hover時に大きく
.letter-hover:hover{
  transform:scale(1.2,1.2);
}

/* スマートフォン用のスタイル */
    @media (max-width: 767px) {
        .d-flex.flex-wrap .stamp-box {
            flex-basis: 100%;
        }
    }

// 下線矢印（現在未使用）
.line-arrow {
  width: 100%;
  height: 11px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
   /*傾きを調節*/
  transform: skew(45deg);
  /*下線矢印をテキストに合わせてはめるための微調整*/
  margin: -10px 0 0 -25px;
  color: #5D535E;
}

// 以下スライドショー
.swiper {
  width: 100%;
}

:root {
  --swiper-navigation-color: #B4ABB4;
  --swiper-pagination-color: #FFEBEC;
}
// ここまでスライドショー

// ここからページ先頭に戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}
// ここまでページ先頭に戻るボタン

// 半円
.semicircle-top {
  width: 150px;
  height: 75px;
  border: solid 1px #d6d0d0;
  border-radius: 75px 75px 0 0; /* 下側を丸める */
  border-bottom: solid 1px white; /* 直線部分を消す */
  margin: 10px;
  // border: none;
  background-color: white;
  position: relative;
			top: 2px;
}

.gallery-box{
  border: solid 1px #d6d0d0;
}