@use '~bootstrap/scss/bootstrap';

body {
  background-color: #FFEBEC;
  font-family: 'Hina Mincho', serif;
  color: #5D535E;
  letter-spacing: 0.04em;
  line-height: 1.8;
}

h3{
  font-family: 'Hina Mincho', serif;
  color: #5D535E;
  letter-spacing: 0.1em;
}

p{
  font-family: 'Zen Old Mincho', serif;
  color: #685D69;
}